@use "/scss/mixins";
:root{
   --Greys-Colors-01:#404040;
   --Color-Text-01:#323232;
   --Primary-Colors:#ED5A25;
   --Color-Text:#AFAFAF;
}
*{
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

a{
    text-decoration: none;
    color: inherit;
    display: block;
}
button{
    padding: 0;
    border: none;
    background: transparent;
    cursor: pointer;
}
input,button,textarea,select{
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
body{
    font-size: 1.5rem;
    line-height: 1.3;
    width: 100%;
    background: url(@/public/img/bg-sign-in.png) lightgray 50% / cover no-repeat;
}

//========== Start auth-page ==========
.auth-page{
    &__container{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    &__setion--intro{
        // flex: 1;
        position: relative;
        width: 1016px;
        height: 488px;
        border-radius: 45px;
        background: rgba(255, 255, 255, 0.30);
        box-shadow: 6px 12px 33.1px 0px rgba(229, 229, 229, 0.30);
        backdrop-filter: blur(11.949999809265137px);

        @include mixins.screen(lg){
            position: relative;
            width: 0px;
            height: 200px;
        }
    }
    &__title{
        margin-top: 10.5rem;
        margin-left: 7rem;
        width: 370px;
        height: 84px;
        color: var(--Greys-Colors-01);
        font-family: "Manrope";
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 3.2rem;
        text-transform: uppercase;

        @include mixins.screen(lg){
            display: none;
        }
    }
    &__description{
        margin-top: 1.8rem;
        margin-left: 7rem;
        width: 340px;
        color: var(--Color-Text-01);
        font-family: "Quicksand";
        font-size: 1.6rem;
        font-weight: 600;

        @include mixins.screen(lg){
            display: none;
        }
    }
    &__button-signup{
        text-align: center;
        margin-top: 4.2rem;
        width: 283px;
        height: 48px;
        border-radius: 100px;
        font-family: "Manrope";
        font-size: 1.4rem;
        font-style: normal;
        font-weight: 700;
        text-transform: uppercase;
        color: #FFF;
        background: #ED5A25;
        
        &:hover{
            box-shadow: 0 8px 20px rgba(237, 90, 37, 0.3);
            transform: translateY(-2px);
            transition: all 0.3s ease;
        }
        @include mixins.screen(lg){
            display: block;
        }
    }
    &__section--signup{
        position: absolute;
        top: 0;
        right: 0;
        width: 510px;
        height: 488px;
        border-radius: 45px;
        background: #FFF;
        
        @include mixins.screen(lg){
            position: absolute;
            width: 500px;
            top: 50%;
            left: 50%;
             transform: translate(-50%, -50%);
        }
        
         @include mixins.screen(md){
            width: 400px;
        }
       
    }
    &__title-signup{
        margin-top: 8.6rem;
        margin-left: 6.8rem;
        color: var(--Color-Text-01);
        font-family: "Manrope";
        font-size: 2.4rem;
        font-weight: 700;
        line-height: 3.2rem;
        
        @include mixins.screen(lg){
            margin-top: 5.6rem;
            margin-left: 0;
            font-size: 3.4rem;
            text-align: center;
        }

    }

}
//========== Auth-steps ==========
.auth-steps{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-top: 1.8rem;
    margin-left: 7rem;
    &__item{
        display: flex;
        align-items: center;
        gap: 1.6rem;

         @include mixins.screen(lg){
          display: none;
        }
    }
    &__number{
        width: 3.2rem;
        height: 3.2rem;
        border-radius: 0.8rem;
        text-align: center;
        line-height: 3.2rem;
        background: #F0D3C8;
        background-blend-mode: multiply;
    }
    &__text{
        color: var(--Color-Text-01, #323232);
        font-size: 1.6rem;
        font-weight: 600;
    }
    &__text:nth-child(2){
        width: 340px;
    }
}
//========== Start auth-form ==========
.auth-form{
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;
    &__input{
        position: relative;
        margin: 0 6.8rem;
        padding: 0 5.5rem;
        width: 37.3rem;
        height: 4.8rem;
        outline: none;
        border-radius: 10rem;
        border: 0.1px solid #F2F2F2;
        background: #F2F2F2;
        color: var(--Color-Text);
        font-family: "Inter";
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;

        color: #000;
        font-family: "Inter";
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        transition: all 0.2s ease-out;

         @include mixins.screen(lg){
            margin: 0 3.4rem;
            padding: 0 5.5rem;
            width: 43.3rem;
        }
         @include mixins.screen(md){
            width: 95%;
            margin: 0 10px;
        }
        &:focus{
            border: 1px solid #007bff;
        }
        &:invalid{
            border: 1px solid red;
        }
    }
    &__field:nth-child(2){
        margin-top: 1.2rem;
    }
    &__field{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__field-icon{
        position: absolute;
        z-index: 1;
        top: 15.6px;
        left: 92px;

         @include mixins.screen(lg){
            left: 57px;
        }
         @include mixins.screen(md){
                left: 32px;
        }
         @include mixins.screen(sm){
            left: 32px;
        }
    }
    &__submit{
        position: absolute;
        top: 6.3px;
        right: 75px;
        width: 36px;
        height: 36px;
        color: #fff;
        border-radius: 50%;
        background: var(--Primary-Colors);

        @include mixins.screen(lg){
            right: 41px;
        }
        @include mixins.screen(lg){
            right: 18px;
        }
    }
    &__link{
        margin-top: 2.3rem;
        font-family: "Inter";
        font-size: 1.6rem;
        font-weight: 400;
        text-align: center;
    }
    &__link-mb{
        @include mixins.screen(xxl){
           display: none;
        }
        @include mixins.screen(lg){
           display: block;
        }
    }
    &__link--forgot{
        color: var(--Primary-Colors);
    }
    &__social-login{
        margin-top: 4.7rem;
    }
    &__social-text{
        color: #999;
        font-family: "Inter";
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;
    }
    &__social-icons{
        margin-top: 2.1rem;
        display: flex;
        gap: 1.6rem;
        align-items: center;
        justify-content: center;
    }
    &__social-icons i {
        font-size: 2.5rem;
        color: #5C5C5C;
    }
}

