$grid-breakpoints: (    
    xxl: 1400px,
    xl: 1200px,
    lg: 992px,
    md: 768px,
    sm: 576px,
);

$primary-color:#ED5A25;

// Page Home Header
$color-header:#F2F2F2;
$background-header:#FFF4F1;
$logo-text:#404040;
$color-search:#AEAEAE;
$color-hotline:#5C5C5C;
// Page Footer
$color-title:#000;
